---
Checks:                '*,
                        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                        -cppcoreguidelines-pro-bounds-constant-array-index,
                        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                        -fuchsia-*,
                        -google-runtime-references,
                        -hicpp-no-array-decay,
                        -llvm-header-guard,
                        -modernize-use-trailing-return-type'
WarningsAsErrors:      '*'
HeaderFilterRegex:     ''
AnalyzeTemporaryDtors: false
FormatStyle:           file
User:                  kuba
CheckOptions:
  - key:               bugprone-dangling-handle.HandleClasses
    value:             'std::basic_string_view;std::experimental::basic_string_view'
  - key:               google-readability-braces-around-statements.ShortStatementLines
    value:             '2'
  - key:               hicpp-braces-around-statements.ShortStatementLines
    value:             '2'
  - key:               misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:             '1'
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-replace-random-shuffle.IncludeStyle
    value:           llvm
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             modernize-use-auto.RemoveStars
    value:           '0'
  - key:             modernize-use-default-member-init.IgnoreMacros
    value:           '1'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           '0'
  - key:             modernize-use-emplace.ContainersWithPushBack
    value:           '::std::vector;::std::list;::std::deque'
  - key:             modernize-use-emplace.SmartPointers
    value:           '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
  - key:             modernize-use-emplace.TupleMakeFunctions
    value:           '::std::make_pair;::std::make_tuple'
  - key:             modernize-use-emplace.TupleTypes
    value:           '::std::pair;::std::tuple'
  - key:             modernize-use-transparent-functors.SafeMode
    value:           '0'
  - key:             modernize-use-using.IgnoreMacros
    value:           '1'
  - key:             performance-faster-string-find.StringLikeClasses
    value:           'std::basic_string'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           '0'
  - key:             performance-inefficient-string-concatenation.StrictMode
    value:           '0'
  - key:             performance-inefficient-vector-operation.VectorLikeClasses
    value:           '::std::vector'
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           '1'
  - key:             performance-move-constructor-init.IncludeStyle
    value:           llvm
  - key:             performance-type-promotion-in-math-fn.IncludeStyle
    value:           llvm
  - key:             portability-simd-intrinsics.Std
    value:           ''
  - key:             portability-simd-intrinsics.Suggest
    value:           '0'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             readability-identifier-naming.AbstractClassCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.AbstractClassPrefix
    value:           'I'
  - key:             readability-identifier-naming.ClassCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.ClassPrefix
    value:           ''
  - key:             readability-identifier-naming.ClassConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.ClassConstantPrefix
    value:           'm_c'
  - key:             readability-identifier-naming.ClassMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ClassMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.ClassMethodCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ClassMethodPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.ConstantPrefix
    value:           'c'
  - key:             readability-identifier-naming.ConstantMemberCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.ConstantMemberPrefix
    value:           'm_c'
  - key:             readability-identifier-naming.ConstantParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ConstantParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstantPointerParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ConstantPointerParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstexprFunctionCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ConstexprFunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.ConstexprMethodCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ConstexprMethodPrefix
    value:           ''
  - key:             readability-identifier-naming.EnumCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.EnumPrefix
    value:           ''
  - key:             readability-identifier-naming.EnumConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           'e'
  - key:             readability-identifier-naming.FunctionCase
    value:           'camelBack'
  - key:             readability-identifier-naming.FunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.GlobalConstantPointerCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.GlobalConstantPointerPrefix
    value:           'c'
  - key:             readability-identifier-naming.GlobalFunctionCase
    value:           'camelBack'
  - key:             readability-identifier-naming.GlobalFunctionPrefix
    value:           ''
  - key:             readability-identifier-naming.GlobalPointerCase
    value:           'camelBack'
  - key:             readability-identifier-naming.GlobalPointerPrefix
    value:           ''
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.InlineNamespaceCase
    value:           'lower_case'
  - key:             readability-identifier-naming.InlineNamespacePrefix
    value:           ''
  - key:             readability-identifier-naming.LocalConstantCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.LocalConstantPrefix
    value:           'c'
  - key:             readability-identifier-naming.LocalConstantPointerCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.LocalConstantPointerPrefix
    value:           'c'
  - key:             readability-identifier-naming.LocalPointerCase
    value:           'camelBack'
  - key:             readability-identifier-naming.LocalPointerPrefix
    value:           ''
  - key:             readability-identifier-naming.LocalVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.LocalVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.MethodCase
    value:           'camelBack'
  - key:             readability-identifier-naming.MethodPrefix
    value:           ''
  - key:             readability-identifier-naming.NamespaceCase
    value:           'lower_case'
  - key:             readability-identifier-naming.NamespacePrefix
    value:           ''
  - key:             readability-identifier-naming.ParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.ParameterPackCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ParameterPackPrefix
    value:           ''
  - key:             readability-identifier-naming.PointerParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PointerParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.PublicMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PublicMemberPrefix
    value:           ''
  - key:             readability-identifier-naming.StaticVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.StaticVariablePrefix
    value:           ''
  - key:             readability-identifier-naming.StructCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.StructPrefix
    value:           ''
  - key:             readability-identifier-naming.TemplateParameterCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.TemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.TemplateTemplateParameterCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.TemplateTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.TypeAliasCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.TypeAliasPrefix
    value:           ''
  - key:             readability-identifier-naming.TypedefCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.TypedefPrefix
    value:           ''
  - key:             readability-identifier-naming.TypeTemplateParameterCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.TypeTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.UnionCase
    value:           'CamelCase'
  - key:             readability-identifier-naming.UnionPrefix
    value:           ''
  - key:             readability-identifier-naming.ValueTemplateParameterCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ValueTemplateParameterPrefix
    value:           ''
  - key:             readability-identifier-naming.VariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.VariablePrefix
    value:           ''
  - key:               readability-inconsistent-declaration-parameter-name.Strict
    value:             '1'
...
